annotated-types==0.7.0
asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
crispy-bootstrap5==2025.4
Django==5.2.1
django-crispy-forms==2.4
docker==7.1.0
gunicorn==23.0.0
humanize==4.12.3
idna==3.10
nvidia-ml-py3==7.352.0
packaging==25.0
psutil==7.0.0
pydantic==2.11.4
pydantic_core==2.33.2
python-on-whales==0.76.1
pywin32==310
requests==2.32.3
sqlparse==0.5.3
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
